#   This file is part of darktable,
#   Copyright (C) 2020 Hubert Kowalski.
#   Copyright (C) 2020 Pascal Obry.
#   Copyright (C) 2021 Daniel Vogelbacher.
#   Copyright (C) 2021 luzpaz.
#   Copyright (C) 2021-2022 Miloš Komarčević.
#   Copyright (C) 2022, 2025-2026 Aurélien PIERRE.
#   Copyright (C) 2022 naveen.
#   
#   darktable is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#   
#   darktable is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#   
#   You should have received a copy of the GNU General Public License
#   along with darktable.  If not, see <http://www.gnu.org/licenses/>.










name: Full Manual Check

# keep in sync with ci.yml

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:

  Linux:
    name: Linux.${{ matrix.os.code }}.${{ matrix.compiler.compiler }}.${{ matrix.target }}.${{ matrix.btype }}
    runs-on: ${{ matrix.os.label }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - { label: ubuntu-20.04, code: focal }
          - { label: ubuntu-18.04, code: bionic }
        compiler:
          - { compiler: GNU8,   CC: gcc-8,    CXX: g++-8,    GCC_VER: "8",  LLVM_VER: "" }
          - { compiler: GNU9,   CC: gcc-9,    CXX: g++-9,    GCC_VER: "9",  LLVM_VER: "" }
          - { compiler: GNU10,  CC: gcc-10,   CXX: g++-10,   GCC_VER: "10", LLVM_VER: "" }
          - { compiler: LLVM9,  CC: clang-9,  CXX: clang++-9,  GCC_VER: "", LLVM_VER: "9" }
          - { compiler: LLVM10, CC: clang-10, CXX: clang++-10, GCC_VER: "", LLVM_VER: "10" }
          #- { compiler: LLVM11, CC: clang-11, CXX: clang++-11, packages: clang-11 libomp-11-dev libclang-common-11-dev llvm-11-dev clang++-11 libc++-11-dev lld-11}
        btype:
          - RelWithDebInfo
          - Release
        target:
          - build
          - nofeatures
        include:
          - os: { label: ubuntu-latest, code: latest }
            btype: Debug
            compiler: { compiler: GNU9,   CC: gcc-9,    CXX: g++-9,    GCC_VER: "9", LLVM_VER: "" }
            target: skiptest
    env:
      CC: ${{ matrix.compiler.CC }}
      CXX: ${{ matrix.compiler.CXX }}
      GCC_VER: ${{ matrix.compiler.GCC_VER }}
      LLVM_VER: ${{ matrix.compiler.LLVM_VER }}
      SRC_DIR: ${{ github.workspace }}/src
      BUILD_DIR: ${{ github.workspace }}/build
      INSTALL_PREFIX: ${{ github.workspace }}/install
      CMAKE_BUILD_TYPE: ${{ matrix.btype }}
      GENERATOR: Ninja
      TARGET: ${{ matrix.target }}
      DARKTABLE_CLI: ${{ github.workspace }}/install/bin/ansel-cli
    steps:
      - name: Enable compiler repositories
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo add-apt-repository -y universe
          sudo add-apt-repository -y multiverse
      - uses: actions/checkout@v3
        with:
          submodules: true
          path: src
      - name: Install Base Dependencies
        run: |
          "${SRC_DIR}/packaging/install-deps-ubuntu.sh"
      - name: Build and Install
        run: |
          cmake -E make_directory "${BUILD_DIR}";
          cmake -E make_directory "${INSTALL_PREFIX}";
          ./src/.ci/ci-script.sh;
      - name: Check if it runs
        run: |
          ${INSTALL_PREFIX}/bin/ansel --version || true
          ${INSTALL_PREFIX}/bin/ansel-cli \
                 --width 2048 --height 2048 \
                 --apply-custom-presets false \
                 "${SRC_DIR}/src/tests/integration/images/mire1.cr2" \
                 "${SRC_DIR}/src/tests/integration/0000-nop/nop.xmp" \
                 output.png \
                 --core --disable-opencl --conf host_memory_limit=8192 \
                 --conf worker_threads=4 -t 4 \
                 --conf plugins/lighttable/export/force_lcms2=FALSE \
                 --conf plugins/lighttable/export/iccintent=0
      - name: Run Integration test suite
        #integration test can get "stuck" plus there are couple of errors here, so it needs to be addressed first
        #if: ${{ false }}
        run: |
          cd "${SRC_DIR}/src/tests/integration/"
          ./run.sh --no-opencl --no-deltae --fast-fail

  Win64:
    name: Win64.${{ matrix.compiler.compiler }}.${{ matrix.target }}.${{ matrix.btype }}
    needs: Linux
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        btype:
          - RelWithDebInfo
        compiler:
          - { compiler: GNU,  CC: gcc,   CXX: g++ }
          - { compiler: LLVM, CC: clang, CXX: clang++ }
        target:
          - skiptest
          - nofeatures
        include:
          # Uncomment if PR needs to generate windows package for testing.
          - btype: Release
            compiler: { compiler: LLVM,  CC: clang,   CXX: clang++ }
            eco: -DBINARY_PACKAGE_BUILD=ON
            target: skiptest
          - btype: Debug
            compiler: { compiler: GNU,  CC: gcc,   CXX: g++ }
            target: skiptest
    defaults:
      run:
        shell: msys2 {0}
    env:
      CC: ${{ matrix.compiler.CC }}
      CXX: ${{ matrix.compiler.CXX }}
      SRC_DIR: ${{ github.workspace }}/src
      BUILD_DIR: ${{ github.workspace }}/build
      INSTALL_PREFIX: ${{ github.workspace }}/install
      ECO: ${{ matrix.eco }}
      CMAKE_BUILD_TYPE: ${{ matrix.btype }}
      GENERATOR: 'MSYS Makefiles'
      TARGET: ${{ matrix.target }}
      # todo: use linker which supports --wrap, ld.bfd and ld.gold support it
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
      - uses: actions/checkout@v3
        with:
          submodules: true
          path: src
      - name: Install Base Dependencies
        run: |
          $(cygpath ${SRC_DIR})/packaging/install-deps-windows-msys2.sh
      - name: Build and Install
        run: |
          cmake -E make_directory "${BUILD_DIR}"
          cmake -E make_directory "${INSTALL_PREFIX}"
          $(cygpath ${SRC_DIR})/.ci/ci-script.sh
      - name: Check if it runs
        run: |
          $(cygpath ${INSTALL_PREFIX})/bin/ansel.exe --version || true
          $(cygpath ${INSTALL_PREFIX})/bin/ansel-cli.exe \
                 --width 2048 --height 2048 \
                 --apply-custom-presets false \
                 $(cygpath ${SRC_DIR})/src/tests/integration/images/mire1.cr2 \
                 $(cygpath ${SRC_DIR})/src/tests/integration/0000-nop/nop.xmp \
                 output.png \
                 --core --disable-opencl --conf host_memory_limit=8192 \
                 --conf worker_threads=4 -t 4 \
                 --conf plugins/lighttable/export/force_lcms2=FALSE \
                 --conf plugins/lighttable/export/iccintent=0
      - name: Package
        if: ${{ success() && matrix.btype == 'Release' && matrix.target == 'skiptest' }}
        run: |
          lensfun-update-data
          cd "${BUILD_DIR}"
          cmake --build "${BUILD_DIR}" --target package
      - name: Package upload
        if: ${{ success() && matrix.btype == 'Release' && matrix.target == 'skiptest' }}
        uses: actions/upload-artifact@v4
        with:
          name: Win64.${{ matrix.compiler.compiler }}.${{ matrix.btype}}.${{ github.sha }}
          path: ${{ env.BUILD_DIR }}/ansel-*.exe
          retention-days: 1

  macOS:
    name: macOS.${{ matrix.compiler.compiler }}.${{ matrix.target }}
    needs: Linux
    runs-on: macos-latest
    strategy:
      fail-fast: true
      matrix:
        compiler:
          - { compiler: XCode,   CC: cc, CXX: c++ }
        btype: [ RelWithDebInfo ]
        target:
          - skiptest
          - nofeatures
    env:
      CC: ${{ matrix.compiler.CC }}
      CXX: ${{ matrix.compiler.CXX }}
      SRC_DIR: ${{ github.workspace }}/src
      BUILD_DIR: ${{ github.workspace }}/build
      INSTALL_PREFIX: ${{ github.workspace }}/install
      CMAKE_BUILD_TYPE: ${{ matrix.btype }}
      GENERATOR: Ninja
      TARGET: ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          path: src
      - name: Install Base Dependencies
        run: |
          "${SRC_DIR}/packaging/install-deps-macos.sh"
      - name: Build and Install
          # todo: use linker which supports --wrap, ld.bfd and ld.gold support it
        run: |
          cmake -E make_directory "${BUILD_DIR}";
          cmake -E make_directory "${INSTALL_PREFIX}";
          ./src/.ci/ci-script.sh;
      - name: Check if it runs
        run: |
          ${INSTALL_PREFIX}/bin/ansel --version || true
          ${INSTALL_PREFIX}/bin/ansel-cli \
                 --width 2048 --height 2048 \
                 --apply-custom-presets false \
                 "${SRC_DIR}/src/tests/integration/images/mire1.cr2" \
                 "${SRC_DIR}/src/tests/integration/0000-nop/nop.xmp" \
                 output.png \
                 --core --disable-opencl --conf host_memory_limit=8192 \
                 --conf worker_threads=4 -t 4 \
                 --conf plugins/lighttable/export/force_lcms2=FALSE \
                 --conf plugins/lighttable/export/iccintent=0
